{
    "all": "(.*)",
    "alphabetical": "[a-zA-Z0-9\\- ]+",
    "course_code": "[a-zA-Z]{4,4}[0-9]{4,4}",
    "date": "[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])",
    "nscc_id": "[wW]{1,1}[0-9]{7,7}",
    "password": "(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{0,}"
}
