// variables and mixins

// global styles
@import './bulma.min.css';

* {
    // border-left: none !important;
    // border-right: none !important;
    box-shadow: none !important;
}

label {
    user-select: none;
}

p {
    margin-bottom: 1rem;
}

.help {
    font-weight: bold;
    margin: 1em 0 0;
}

.hide {
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.info-string {
    word-break: break-all;
}

.justify {
    &-between {
        justify-content: space-between;
    }
}

.show {
    height: auto;
    overflow: visible;
}

// import partials
@import 'scss/Forms';
@import 'scss/Progress';
