// Variables
$grey-lighter: #dbdbdb;

// Global styles
@import './bulma.min.css';

* {
    // border-left: none !important;
    // border-right: none !important;
    box-shadow: none !important;
}

form {
    input,
    select,
    textarea {
        border-left: none !important;
        border-radius: 0 !important;
        border-right: none !important;
        border-top: none !important;
    }
}

html {
    background-color: $grey-lighter;
}

label {
    user-select: none;
}

p {
    margin-bottom: 1rem;
}

i {
    cursor: pointer;
}

.help {
    font-weight: bold;
    margin: 1em 0 0;
}

.hide {
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.show {
    height: auto;
    overflow: visible;
}

.info-string {
    word-break: break-all;
}

.justify {
    &-between {
        justify-content: space-between;
    }
}

.table {
    td,
    th {
        vertical-align: middle;
    }

    &-container {
        overflow-x: auto;
    }
}
